<div *ngIf="show1" class="test-component">
    <app-common-test-component (compNum)='compNumber($event)'></app-common-test-component>
</div>
<div *ngIf="show2" class="test-component">
    <app-common-test-component (compNum)='compNumber($event)'></app-common-test-component>
</div>
<div *ngIf="show3" class="test-component">
    <app-common-test-component (compNum)='compNumber($event)'></app-common-test-component>
</div>
<div *ngIf="show4" class="test-component">
    <app-common-test-component (compNum)='compNumber($event)'></app-common-test-component>
</div>